/* Catppuccin Mocha Palette */
@define-color background #1e1e2e;
@define-color foreground #cdd6f4;
@define-color module_bg #313244; /* Surface0 */
@define-color module_fg #cdd6f4;

@define-color active_workspace_bg #89b4fa; /* Blue */
@define-color active_workspace_fg #1e1e2e; /* Base */

@define-color red #f38ba8;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color blue #89b4fa;
@define-color orange #fab387;
@define-color purple #cba6f7;

@define-color critical @red;
@define-color warning @orange;
@define-color disconnected #a6adc8; /* Overlay0 */
