@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: 'SF Pro Display', 'JetBrains Mono Nerd Font Propo';
    font-weight: 600;
    padding: 0;
    margin: 0;
    min-width: 10px;
}

window#waybar {
    /* background-color: alpha(@background, 0.8); */
    background-color: transparent;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.22);
    margin-top: 10px;
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
}

tooltip {
  background: transparent;
  border: 1px solid @blue;
  border-radius: 12px;
}

tooltip label {
  color: @foreground;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @foreground;
}

#pulseaudio:hover {
    background-color: @yellow;
    color: @background;
}

#workspaces {
    background: @background;
    min-height: 0;
    /* margin: 20px; */
    margin: 0 0px;
    padding: 0 2px;
    transition: all 0.3s ease-in-out;
    border-radius: 9999px;
}

#workspaces button {
    color: transparent;
    /* background: linear-gradient(135deg, @disconnected 0%, @background 100%); */
    background: @module_bg;
    transition: all 0.3s ease-in-out;
    min-width: 15px;
    min-height: 0px;
    margin: 6px 2px;
    border-radius: 9999px;
}

#workspaces button.active {
    /* background: linear-gradient(135deg, @yellow 0%, @module_bg 100%); */
    background: @module_fg;
    color: transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 9999px;
    min-width: 50px;
}

#workspaces button:hover {
    background: linear-gradient(135deg, @purple 0%, @blue 100%);
    color: transparent;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    background: linear-gradient(135deg, @red 0%, @orange 100%);
    color: @background;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#backlight,
#battery,
#network,
#pulseaudio {
    /* background-color: alpha(@background, 0.5); */
    background: @background;
    margin: 0 5px;
    font-size: 15px;
    border-radius: 9999px;
    padding: 0 10px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0 15px;
}

#pulseaudio-slider slider {
    border-radius: 2px;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 150px;
    border-radius: 5px;
}

#pulseaudio-slider highlight {
    border-radius: 5px;
}

.misc-modules {
    font-size: 15px;
}

#tray {
    background: @background;
    border-radius: 9999px;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 0 10px;
}

#custom-launcher {
    color: @foreground;
}

#custom-separator {
    margin-left: 5px;
    font-size: 15px;
}

#clock {
  color: @blue;
  margin: 0 0 0 20px;
  background: @background;
  border-radius: 9999px;
  padding: 0 10px;
}

/* #custom-notification { */
/*   color: @foreground; */
/*   margin: 10px; */
/* } */

#pulseaudio {
  color: @yellow;
}

#network {
  color: @purple;
}

#battery {
  color: @green;
}

#backlight {
  color: @blue;
}

#custom-theme_toggle {
  color: @foreground;
  margin: 0 5px;
  background: @background;
  padding: 0 10px;
  border-radius: 9999px;
}

#power-profiles-daemon {
  color: @foreground;
  margin: 0 5px;
  margin-left: 0px;
  background: @background;
  padding: 0 10px;
  border-radius: 9999px;
}
